doctype html
head
  title NODE JS WORD INSTANCE COUNTER
  link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
form(action='' method='post')
  h1 Word Counter App
  fieldset
    label(style='text-align: center;') Place Your Text Here:
    textarea#request(name='request')
  button(type='submit') Submit
